:host {
  display: block;
}

#study-group-list {
  height: 50%;
  overflow-y: scroll;
  top: 0;
  padding: 5px;
}

#study-group-stats {
  height: 50%;
  overflow-y: scroll;
  bottom: 0;
  padding: 5px;
}