:host {
  display: block;
}
#user-input-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 5 !important;
  padding-top: 15px;
}

ion-modal.calculated-modal {
  --width: 80%;
}

ion-modal.user-defined-modal {
  --width: 60%;
}
