.masthead {

  background-color: green;
  color: white;
  padding: .5em 5em .5em 1em;

  @include mq('tablet') {
    padding: .5em 1em .5em 1em;
  }

  @include mq('desktop-wide') {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.nav {
  background-color: #f5f5f5;
  padding-left: 1em;
  padding-right: 1em;

  @include mq('desktop-wide') {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.subhead {
  background-color: #f5f5f5;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5em;

  @include mq('desktop-wide') {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.content {
  $self: &;

  background-color: #f5f5f5;
  padding: 0.5em;

  @include mq('tablet-wide') {
    @include clearfix
  }

  @include mq('desktop-wide') {
    padding-left: 9.5em;
    padding-right: 9.5em;
  }

  &__main {
    padding: 0 0.5em 0 0.5em;

    @include mq('tablet-wide') {
      width: 70%;
      float: right;
    }
  }

  &__aside {
    padding: 0 0.5em 0 0.5em;

    @include mq('tablet-wide') {
      width: 30%;
      float: left;
    }
  }

  &__header {
    font-size: 1.5em;
    margin-bottom: .5em;
  }

  &__subhead {
    font-size: 1.2em;
    margin-bottom: .2em;
  }
}

.split {
  @include mq('tablet') {
    display: flex;
  }

  &__column {
    & + & {
      margin-top: 1em;
    }

    @include mq('tablet') {
      & + & {
        margin-top: 0;
      }
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  &__header {
    font-size: 1.1em;
  }

  &__content {
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;

    @include mq('tablet') {
      flex-grow: 1;
    }
  }

  &__button {
    @include mq('tablet') {
      margin-right: auto;
    }
  }
}

.foot {
  background-color: #e9e9e9;
  padding: 1em;

  @include mq('tablet-wide') {

  }

  @include mq('desktop-wide') {
    padding-left: 10em;
    padding-right: 10em;
  }
}
