html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: inherit;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: none;
}

html {
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  max-width: 100%;
  border: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 100%;
  line-height: 1;
  background-color: #e9e9e9;
}

a {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: verdana, arial, helvetica, sans-serif;
}

button {
  font-family: verdana, arial, helvetica, sans-serif;
}

input[type='text'], input[type='number'], textarea {
  font-family: arial, sans-serif;
}

li+li {
  margin-top: .2em;
}

.material-icons {
  font-size: 1em;
  line-height: inherit;
  vertical-align: top;
}
