@charset "UTF-8";

@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'layout.scss';

@import 'components/dropdown.scss';
@import 'components/module.scss';
@import 'components/button.scss';
@import 'components/breadcrumb.scss';
@import 'components/rollup.scss';
@import 'components/modal.scss'; // TODO: change modal class name for links
@import 'components/form.scss'; // TODO: refactor to BEM
@import 'components/logo.scss';
@import 'components/tile.scss';
@import 'components/registration.scss'; // TODO: refactor to BEM
@import 'components/journey.scss'; // TODO: refactor to BEM
@import 'components/import.scss'; // TODO: refactor to BEM
@import 'components/dashboard.scss';
@import 'components/source.scss';
@import 'components/quarterly_report.scss';
@import 'components/edit_stories.scss';

.hide {
  display: none;

  &-tablet-wide {
    @include mq('tablet-wide') {
      display: none;
    }
  }
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
  white-space: normal !important;
  padding-top: 10px;
  padding-bottom: 10px;
}


.align-right {
  float: right;
}

.red {
  color: #{$ameren-red-2};
}

.green {
  color: #{$ameren-green-2};
}

.asc .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: bottom;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

.desc .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  border-left: 5px solid transparent;
}

.ionic {
  @import "~@ionic/core/css/core.css";
  @import "~@ionic/core/css/normalize.css";
  @import "~@ionic/core/css/structure.css";
  @import "~@ionic/core/css/typography.css";
 
  @import "~@ionic/core/css/padding.css";
  @import "~@ionic/core/css/float-elements.css";
  @import "~@ionic/core/css/text-alignment.css";
  // @import "~@ionic/core/css/text-transformation.css";
}

 /*
  The CSS Variables below can be used to theme your app.
  For more info on CSS variables check out https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
 */
 :root {
   --ion-color-primary:                 #3880ff;
   --ion-color-secondary:               #0cd1e8;
   --ion-color-tertiary:                #7044ff;
   --ion-color-success:                 #10dc60;
   --ion-color-warning:                 #ffce00;
   --ion-color-danger:                  #f04141;
   --ion-color-light:                   #f4f5f8;
   --ion-color-medium:                  #989aa2;
   --ion-color-dark:                    #222428;

   --ion-color-favorite:                #69BB7B;
   --ion-color-twitter:                 #1da1f4;
   --ion-color-google:                  #dc4a38;
   --ion-color-vimeo:                   #23b6ea;
   --ion-color-facebook:                #3b5998;

   --ion-color-angular:                 #ac282b;
   --ion-color-communication:           #8e8d93;
   --ion-color-tooling:                 #fe4c52;
   --ion-color-services:                #fd8b2d;
   --ion-color-design:                  #fed035;
   --ion-color-workshop:                #69bb7b;
   --ion-color-food:                    #3bc7c4;
   --ion-color-documentation:           #b16be3;
   --ion-color-navigation:              #6600cc;
}
