$ameren-green-1: #319d49;
$ameren-green-2: #228B22;
$ameren-green-3: #006400;

$ameren-blue-1: #3689cb;
$ameren-blue-2: #2679bb;
$ameren-blue-3: #104775;

$ameren-red-1: #FA8072;
$ameren-red-2: #F00;

$mobile: "only screen and (max-width: 768px)";

$modal-overlay: rgba(0, 0, 0, .6);

$content-color: #f5f5f5;
$background-color: #e9e9e9;
