.breadcrumb {
  font-size: .8em;
  display: none;
  padding-top: .5rem;
  list-style: none;

  @include mq('tablet-wide') {
    display: flex;
  }

  .breadcrumb__item {
    margin-top: 0;

    + li:before {
      content: '\00a0/\00a0';
    }
  }
}
