// .button {
//   display: flex;
//   color: white;
//   text-decoration: none;
//   border: none;
//   border-radius: 20px;
//   background-color: #{ $ameren-blue-2 };
//   margin-top: 1rem;
//   height: 1.5rem;
//   padding: .3rem .6rem 0 .6rem;
//   width: max-content;

//   &:hover {
//     background-color: #{ $ameren-blue-1 };
//   }

//   &--form {
//     padding: 0;
//     padding-left: .6rem;
//     padding-right: .6rem;
//   }

//   &--red {
//     background-color: #{ $ameren-red-2 };
//     &:hover {
//       background-color: #{ $ameren-red-1 };
//     }
//   }
// }

.home-button {
  color: white;
  font-size: 1.1em;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 2.5em;
  height: inherit;
  background-color: green;
  padding: .4em;
  margin: 0;

  @include mq('tablet-wide') {
    display: none;
  }

  @include mq('desktop-wide') {
    right: 10.7em;
  }

  &:hover {
    background-color: forestgreen;
    cursor: pointer;
  }
  &:active {
    background-color: lightgreen;
    cursor: pointer;
  }
}
