.map {
  margin-bottom: 1em;
  width: 100%;
  height: 20em;
  border-top: 5px solid #{ $ameren-blue-3 };
  border-radius: 2px;
  border-left: 1px solid #{ $background-color };
  border-right: 1px solid #{ $background-color };
  border-bottom: 1px solid #{ $background-color };

  &--focused {
    height: 15em;
  }
}

.pie-chart {
  width: 20em;
  display: inline-block;
}

.line-chart {

}

.indicator {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 40px 0;
}
.indicator__item {
  font-size: 4em;
  display: inline-block;
  width: 16rem;
  height: 6rem;
  margin: 10px 0 0;
}
.indicator__label {
  font-size: 1rem;
  display: inline-block;
  width: 6em;
}
