.dropdown {
  $self: &;

  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 1em;
  height: inherit;

  @media #{ $mobile } {
    display: block;
  }

  @include mq('desktop-wide') {
    right: 10em;
  }

  &__button {
    height: inherit;
    background-color: green;
    padding:.3em;
    margin: 0;
    color: white;
    border: none;

    &:hover {
      background-color: forestgreen;
      cursor: pointer;
    }
    &:active {
      background-color: lightgreen;
      cursor: pointer;
    }

    #{ $self }--right & {
      float: right;
    }

    @media #{ $mobile } {
      float: right;
    }
  }

  &__icon {
    vertical-align: text-top;
    font-size: 1.3em;
  }

  &__list {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;

    #{ $self }--show & {
      display: block;
    }
    #{ $self }--hide & {
      display: none;
    }
    #{ $self }--right & {
      clear: both;
    }

    @media #{ $mobile } {
      width: 100vw;
    }
  }

  &__item {
    display: inline-block;
    background-color: green;
    padding: 5px;
    margin: 0;
    color: white;
    border: none;

    &:hover {
      background-color: forestgreen;
      cursor: pointer;
    }
    &:active {
      background-color: lightgreen;
      cursor: pointer;
    }

    #{ $self }--show & {
      display: block;
    }

    &.dropdown__item--hide {
      @include mq('tablet-wide') {
        display: none;
      }
    }

    @media #{ $mobile } {
      display: block;
      text-align: center;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    outline: none;
  }
}
