.matches {
  font-size: 1em;
  overflow: auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: salmon;
}

.matches div {
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: black solid 2px;
}

#import-participant-form section {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #104775;
  background-color: white;
}

#import-participant-form .red-border {
  border: 10px red solid;
}

#import-form-header+div {
  display: inline-block;
  width: 130%;
  padding-top: 1em;
  padding-right: .75em;
  padding-bottom: 1em;
  padding-left: .75em;
}

#import-form-header {
  display: inline-block;
  width: 40%;
  min-width: 12em;
  padding-top: 1em;
  padding-right: .75em;
  padding-bottom: 6em;
  padding-left: .75em;
  vertical-align: top;
  border-right: 5px solid #2679bb;
  background-color: #104775;
}

#import-form-header * {
  vertical-align: middle;
  color: white;
}

#import-participant-form .fieldWrapper {
  display: inline-block;
  width: auto;
  margin: 0 5px 0 5px;
  padding-bottom: 5px;
  vertical-align: top;
}

#import-participant-form .fieldWrapper.hide {
  display: none;
}

#import-form-header .fieldWrapper {
  display: block;
}

#import-form-header .fieldWrapper * {
  display: inline-block;
}

#import-participant-form .help {
  font-size: .7em;
  width: 70%;
  margin: .25em 0;
}

#import-participant-form .errorlist {
  color: red;
  padding-top: 5px;
}

#import-participant-form .errorlist * {
  font-size: .7em;
}

#import-participant-form .fieldWrapper>label,
#import-form-header span,
#import-settings label,
#side-fields label {
  font-size: .8em;
  display: block;
}

#import-settings label {
  padding-bottom: 5px;
}

#import-settings input {
  padding-top: 0;
  padding-bottom: 0;
}

#import-participant-form .fieldWrapper>input[type='number'] {
  width: 80px;
}

#import-participant-form .help a {
  font-size: .5em;
}

#side-fields .fieldWrapper {
  display: block;
  margin: 0;
}

#side-fields select {
  display: block;
  min-width: 140px;
  max-width: 140px;
  margin-bottom: 5px;
}

#import-settings ul.errorlist {
  padding: 5px 0 0 0;
}

.import__actions {
  display: none;

  @include mq('tablet-wide'){
    display: block;
    position: absolute;
    top: 3.5em;
    right: 1em;
    margin: 0;
  }

  @include mq('desktop-wide'){
    display: block;
    position: absolute;
    top: 3.5em;
    right: 10em;
    margin: 0;
  }
}
