#journey ul li {
  display: flex;
  margin-bottom: 10px;
}

#journey ul li i {
  overflow: hidden;
  align-self: center;
  margin-right: 10px;
  padding: 5px;
  color: grey;
  border: 1px solid darkgrey;
  border-radius: 100%;
  background-color: whitesmoke;
}

#journey ul li p {
  font-size: .9em;
  padding: 0 0 5px 0;
}

#journey ul li p em {
  font-style: italic;
}

#journey ul li p+p {
  font-size: 1em;
}
