// TODO: change modal class name for links
div.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal__overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #{ $modal-overlay };
}

.modal__container {
  overflow-y: auto;
  box-sizing: border-box;
  width: 800px;
  max-width: 100%;
  max-height: 90vh;
  border-radius: 4px;
  background-color: #fff;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em .5em 1em;
  color: white;
  background-color: #{ $ameren-green-2 };
  background-clip: padding-box;

  & h2 {
    font-size: 1.4em;
  }
}

.modal__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  color: #00449e;
}

.modal__close {
  color: white;
  border: 0;
  background: transparent;
}

.modal__header .modal__close:before {
  content: '\2715';
}

.modal__content {
  line-height: 1.5;
  color: rgba(0, 0, 0, .8);
  padding: 2em 5em 2em 5em;
}

.modal__btn {
  font-size: .875rem;
  line-height: 1.15;
  overflow: visible;
  margin: 0;
  padding-top: .5rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  cursor: pointer;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-transform: none;
  color: rgba(0, 0, 0, .8);
  border-width: 0;
  border-style: none;
  border-radius: .25rem;
  background-color: #e6e6e6;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: button;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  color: #fff;
  background-color: #00449e;
}
