div > .module,
.module {
  margin-bottom: 1em;

}

.module {
  $self: &;

  background-color: white;
  border-radius: 2px;
  overflow: hidden;

  &--table {
    border: 1px solid #{ $ameren-blue-3 };
    width: 100%;
  }

  &--tile {
    display: none;

    li {
      margin-top: 0;
      width: 100%;
      margin: .2rem;

      @include mq('desktop') {
        width: 47.9%;
      }
    }

    @include mq('tablet-wide') {
      display: block;
    }
  }

  &__indicator {
    display: flex;
  }

  &__header {
    padding: 0.5em 0.5em 0.2em 0.5em;
    font-size: 1.1em;
    background-color: #{ $ameren-blue-3 };
    border-bottom: solid #{ $ameren-blue-2 } .2em;
    color: white;

    #{ $self }--table & {
      text-align: left;
    }
  }

  &__subheader {
    width: max-content;
    margin-top: .5em;
    padding: .3em .5em;
    color: white;

    &--Tract  {
      background-color: $ameren-blue-2;
    }

    &--Block.Group {
      background-color: $ameren-green-1;
    }

    #{ $self }--table & {
      text-align: left;
    }
  }

  &__header-link {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  &__rollup {
    padding: .1em 0.5em .3em 0.5em;
    background-color: #{ $ameren-blue-2 };
    display: none;

    @include mq('tablet') {
      display: block;
    }
  }

  &__content {
    border-left: 1px solid #{ $background-color };
    border-right: 1px solid #{ $background-color };
    border-bottom: 1px solid #{ $background-color };
    padding: 0.8em 1em 1em 1em;

    #{ $self }--tile & {
      display: flex;
      flex-wrap: wrap;
      padding: .2em;
    }
  }

  &__cell {
    // TODO: update zebra
    padding: 0.5em 1em 0.5em 1em;

    #{ $self }__header & {
      padding-bottom: .2em;
    }
  }

  &__item {

  }
}
