$numeric-column: 10%;
$metric-name-column: 80%;

.glide__arrow glide__arrow--right {
  color: black;
}

.module {
  $self: &;

  &__all {
    background-color: $ameren-blue-1;
    color: white;
  }

  &__header--centered {
    text-align: center;
  }

  &__rollup--centered {
    padding-left: 30%;
    padding-right: 30%;
  }

  &__rollup__num_projects {
    float: right;
  }

  &__cell {
    &--align-right {
      text-align: right;
    }

    &--bold {
      font-weight: bold;
    }

    &--blue {
      color: $ameren-blue-2;
    }

    &--dblue {
      color: $ameren-blue-3;
    }

    &--float-left {
      float: left;
    }

    &--tabbed {
      padding-left: 3%;
    }

    &--compact {
      padding: 0.5em;
    }
  }

  &__content {
    .split__column--right {
      text-align: right;
    }

    .split__header--bold {
      font-weight: bold;
    }

    .split__content--blue {
      color: $ameren-blue-2;
    }

    .button--hide {
      visibility: hidden;
    }

    &--borderless {
      border: none;
      padding: 0.25em 0.5em 0.25em 0.5em;
    }

    &--centered {
      align-items: center;
    }
  }

  &__table {
    &--flex {
      border: none;
    }
  }
}

button {
  $self: &;

  &.glide__arrow {
    color: black;
    background-color: transparent;
  }

  &.glide__arrow--left {
    left: 0px;
  }

  &.glide__arrow--right {
    right: 0px;
  }

  &:hover {
    background-color: #f1f1f1;
  }
}

.table__header {
  &--flex {
    display: flex;
    flex: 100%;
  }
}

.narrative_text {
  float: right;
}
