.login {
  background: #f8f8f8;
}

.login #header {
  height: auto;
  padding: 20px;
  background-color: #319d49;
}

.login #header h1 {
  font-size: 18px;
  color: #fff;
}

.login #content {
  padding: 20px 20px 0;
}

.login #container {
  overflow: hidden;
  width: 28em;
  min-width: 300px;
  margin: 100px auto;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background: #fff;
}

.login #content {
  width: 100%;
  min-height: 0;
  padding: 20px;
}

.login label {
  font-size: 1em;
  line-height: 2em;
  clear: both;
  padding-right: .5em;
  color: #333;
}

.login #id_username,
.login #id_password {
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

.login button {
  font-size: 1em;
  margin: 20px 0 5px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #2679bb;
}

.login.reset-password button {
  margin: 10px 0 5px;
}

.login.reset-password ul li {
  font-size: .8em;
}

.login button:hover {
  background-color: #3689cb;
}

.change-password ul li {
  font-size: .7em;
}

.login #forgot-password {
  float: right;
  margin-top: 5px;
  font-size: .8em;
}

.reset-password p {
  margin: 5px 0 5px 0;
}
