.source {
  font-weight: bold;
  color: #666;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.2px;
  margin-top: 1em;
}


.source__url {
  font-weight:normal;
  font-size: 13px;
  line-height: 1.2;

  &:link {
    color: #0000EE;
  }

  &:visited {
    color: #551A8B;
  }
}
