.tile {
  color: white;
  font-size: .95em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #{ $ameren-blue-2 };
  width: 100%;
  height: 5rem;
  border-radius: 2px;
  line-height: 1.4em;

  &:hover {
    background-color: #{ $ameren-blue-1 };
  }
}
