:host
  display: block

div.table-wrapper
  width: 100%
  overflow-x: hidden
  background-color: #f2f2f2
  transition: height 2s ease-out

  & table
    font-family: Verdana, Geneva, Tahoma, sans-serif
    border-collapse: collapse
    table-layout: auto
    height: 100%
    width: 100%

    & tr.header-row th
      white-space: normal

    & tr.new-section
      & th, td
        border-top: 2px solid black

    & td, th
      border: 1px solid #ddd
      padding: 4px
      padding-top: 2px
      padding-bottom: 2px
      font-size: 0.8em
      height: 1.0em

    & tr:nth-child(even)
      background-color: #f2f2f2

    & tr:nth-child(odd)
      background-color: #ddd

    & tr:hover
      background-color: #b4cccb

    & th
      max-width: 100%
      text-align: center
      overflow-x: elipses

    & td
      white-space: nowrap
      text-align: left
      padding-right: 10px
