:host
  display: block

gl-app .pane-main 
  position: relative !important

gl-app .split-pane-side 
  --side-width: 30%
  --side-max-width: 512px

ion-tab-bar 
  flex-shrink: 0
  height: 50px

img.logo
  height: 2em

ion-modal.my-custom-class::part(content)
  --height: 90%
  // position: absolute
  // top: 5%
  --width: 90%
  display: block

#info-pane
  width: 500px
  height: fit-content
  max-height: 700px
  background: white
  position: absolute
  right: 10px
  top: 10px
  z-index: 1000000
  transition: height 2s ease-out

div.info-tab
  height: fit-content
  max-height: 80vh // TODO: figure out why this doesn't work
  width: 100%
  overflow-x: hidden
  background-color: #f2f2f2
  transition: height 2s ease-out

  & div.table-wrapper
    width: 100%
    height: 100%

  & table
    font-family: Verdana, Geneva, Tahoma, sans-serif
    border-collapse: collapse
    table-layout: auto
    height: 100%
    width: 100%

    & tr.header-row th
      white-space: normal

    & tr.new-section
      & th, td
        border-top: 2px solid black

    & td, th
      border: 1px solid #ddd
      padding: 4px
      padding-top: 2px
      padding-bottom: 2px
      font-size: 0.8em
      height: 1.0em

    & tr:nth-child(even)
      background-color: #f2f2f2

    & tr:nth-child(odd)
      background-color: #ddd

    & tr:hover
      background-color: #b4cccb

    & th
      max-width: 80%
      text-align: left
      overflow-x: elipses

    & td
      white-space: nowrap
      text-align: right
      padding-right: 10px

    & td.risk-factor-present
      text-align: center
      font-size: 1.2em

#study-group-list
  height: 50%
  width: 100%
  overflow-y: scroll
  position: absolute
  top: 0

#study-group-stats
  height: 50%
  width: 100%
  overflow-y: scroll
  position: absolute
  bottom: 0
  background-color: transparent

  & th
    text-align: left
    width: 70%

  & td
    text-align: right
    width: 30%

  & td, th
    padding: 10px
    height: 1.0em

.table-wrapper
  top: 0
  bottom: 0
  position: absolute
  overflow-y: scroll

  & button
    width: 10rem
    height: 2rem
    color: white
    background-color: blue
    top: 0
    position: sticky

.right-content
  background-color: beige
  position: fixed
  right: 0
  width: 400px
  height: 100%
  & .mini-map
    top: 0
    width: 100%
    height: 400px

.center-content
  background-color: aqua
  height: 100%
  width: 100%
  dispaly: flex
  position: relative
  left: 0
